#onoc-graph {
    height: 100%;
    position: relative;
    overflow: hidden;
}

/* Graph overview container */
#g-o{
    position: absolute;
    right: 10px;
    top: 10px;
    outline: 1px solid #969696;
    border: 1px solid white;
    overflow: hidden;
}

/* Graph overview selector */
#g-os {
    position: absolute;
    border: 2px solid green;
    outline: 300px solid rgba(255, 255, 255, 0.3);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: move;
}

/* Overview toggle button */
#g-ot {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 20px;
    height: 20px;
    border-bottom-left-radius: 5px;
    background-color: white;
    cursor: pointer;
}

#g-ot > img {
    transition: transform 0.4s;
    position: absolute;
    right: 5px;
    top: 0;
    transform: rotate(-45deg);
}

#g-ot.toggle-collapsed > img {
    transform: rotate(135deg);
}

/* The physical toolbar div */
div #toolbar-physical {
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
    width: 368px;
    background-color: #E7E4D7;
    border-style: solid;
    border: 3px solid #E7E4D7;
    z-index: 950;
}

/* The logical toolbar div */
div #toolbar-logical {
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
    width: 108px;
    background-color: #E7E4D7;
    border-style: solid;
    border: 3px solid #E7E4D7;
    z-index: 950;
}

nav {
    left: 1em;
    top: 1em;
    position: absolute;
    z-index: 701;
}

nav > a {
    background: #678698;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    4px 4px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         4px 4px 5px 0px rgba(50, 50, 50, 0.75);
    color: black;
    padding: 0.5em;
    text-decoration: none;
}

nav > a:hover {
    background-color: #678698;
}

nav > ul {
    display: none;
}

.remove-icon {
    position: absolute;
    right: 4px;
    top: 4px
}

.no-load-entry {
    font-style: italic;
    color: #aaa;
}

#newSaveName-validation {
    color: red;
    text-align: right;
    padding: 0 0.5em;
}

#middle-column-content > nav > ul {
    position: absolute;
    top: 100%;
    left: 0;
}

/* Links in the graph icons on the toolbar */
a.graphIconLink {
    text-decoration:none;
}

.graphIcon {
    margin-right: 5px;
}

/* The reset icon on the toolbar (both physical and logical) */
#reset_icon {
    cursor: hand;
    cursor: pointer;
}

/* The reset layout message */
#reset-layout-msg {
    position: absolute;
    width: 100%;
    top: 3em;
    color: rgba(0, 0, 0, 0.1);
    -webkit-text-shadow: 1px 4px 6px #DAD7C1, 0 0 0 #000, 1px 4px 6px #DAD7C1;
    text-shadow: 0 0 6px #DAD7C1, 0 0 0 #000, 0 0 6px #DAD7C1;
    text-align: center;
    font-size: 5em;
    line-height: 1em;
    font-weight: bold;
    z-index: 1000;
}

/* The reset layout message */
#wrong-url-msg {
    position: absolute;
    width: 100%;
    top: 3em;
    color: rgba(0, 0, 0, 0.1);
    -webkit-text-shadow: 1px 4px 6px #DAD7C1, 0 0 0 #000, 1px 4px 6px #DAD7C1;
    text-shadow: 0 0 6px #DAD7C1, 0 0 0 #000, 0 0 6px #DAD7C1;
    text-align: center;
    font-size: 3em;
    line-height: 1em;
    font-weight: bold;
    z-index: 1000;
}

.graph-tooltip {
    background: #557874;
    padding: 2mm;
    z-index: 1500;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.5s, opacity 0.5s ease;
    -moz-transition: visibility 0s linear 0.5s, opacity 0.5s ease;
    -webkit-transition: visibility 0s linear 0.5s, opacity 0.5s ease;
    -o-transition: visibility 0s linear 0.5s, opacity 0.5s ease;
}

.graph-tooltip.v {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
    -moz-transition-delay: 0s;
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
}

/* Generic error message */

#graph-big-msg {
    position: absolute;
    width: 100%;
    top: 3em;
    color: rgba(0, 0, 0, 0.1);
    -webkit-text-shadow: 1px 4px 6px #DAD7C1, 0 0 0 #000, 1px 4px 6px #DAD7C1;
    text-shadow: 0 0 6px #DAD7C1, 0 0 0 #000, 0 0 6px #DAD7C1;
    text-align: center;
    font-size: 5em;
    line-height: 1em;
    font-weight: bold;
}

.props > h3 {
    text-align: center;
    margin-bottom: 20px;
}

.props h5 {
    font-size: 10pt;
    font-style: italic;
    margin-bottom: 20px;
}

.props > .host > h4 {
    padding-left: 20px;
    background: url(../images/elements/server.png) no-repeat left center;
}

.props > .service > h4 {
    padding-left: 20px;
    background: url(../images/elements/brick.png) no-repeat left center;
}
